{{ user.name }}

<br>

{{ user.name | uppercase }}

<br>

{{ user | json | uppercase }}

<br>

Status do usuário: <b>{{ user.state | userStates }}</b>

<br>

Nome do usuário: <b>{{ user.name | truncate : 3 | uppercase}}</b>

<br><br><br>

<h1>Pipes Dates</h1>

<h2>Formato ISO8601:</h2>

<b>{{ minhaData }}</b>

<br><br>

<b>Data convertida para região: </b>{{ minhaData | date: 'full' }}

<br><br>

<b>Data UTC-0: </b>{{ minhaData | date: 'full' : '+0000' }} <!-- ajustando para o fuso horário no Brasil. -->

<br><br><br>

<h2>Formato TimeStamp: </h2>

Timestamp para região: {{ 1729544400000 | date : 'full' }} <!-- valor do timestemp recuperado no console log -->

<br><br>

Timestamp UTC-0: {{1729544400000 | date: 'full' : '+0000'}}

<br><br>


<h2>Formato Date Obj: </h2>
<b>Data convertida para região:</b> {{ minhaDataObj | date : 'full'}}

<br><br>

<b>Data UTC-0: </b>{{ minhaDataObj | date: 'full' : '+0000' }}

<br><br><br>

<h1>Formato customizado</h1>

Curto: {{'2024-10-21T21:00:00.000Z' | date: 'short'}} <br>
Médio: {{'2024-10-21T21:00:00.000Z' | date: 'medium'}} <br>
Longo: {{'2024-10-21T21:00:00.000Z' | date: 'long'}} <br>
Completo: {{'2024-10-21T21:00:00.000Z' | date: 'full'}} <br><br>

<b>Hoje é Monday dia 21 de October de 2024</b>
<p>{{ minhaData | date : "'Hoje é' EEEE 'dia' dd 'de' LLLL 'de' YYYY"}}</p>

<b>Hoje é Monday dia 21 de October de 2024 ás 18:00</b>
<p>{{ minhaData | date : "'Hoje é' EEEE 'dia' dd 'de' LLLL 'de' YYYY 'ás' HH:mm"}}</p>

<b>Hoje é Monday dia 21 de October de 2024 ás 18:00 GMT-03:00</b>
<p>{{ minhaData | date : "'Hoje é' EEEE 'dia' dd 'de' LLLL 'de' YYYY 'ás' HH:mm zzzz"}}</p>

<b>Hoje é Monday dia 21 de October de 2024 ás 21:00 GMT+00:00</b>
<p>{{ minhaData | date : "'Hoje é' EEEE 'dia' dd 'de' LLLL 'de' YYYY 'ás' HH:mm zzzz" : '+0000'}}</p>

<b>Data: 21/10/2024 Hora: 18:00 PM</b>
<p>{{ minhaData | date : "'Data:' dd/MM/YYYY 'Hora:' HH:mm a"}}</p>

<br><br><br>

<h1>Decimal Pipe</h1>

<!--
{Mínimo de Inteiros}.{Mínimo de Decimais}-{Máximo de Decimais}
Ex: '0.0-4'
-->

<!--
    Unidades de Milhar    Centenas    Dezenas    Unidades    ,    Décimos    Centésimos    Milésimos
            1                 2          3           3       ,      8           9              0
                              4          2           7       ,      9           9

    - Leitura dos números:

    1234,567 - "Mil duzentos e trinta e quatro inteiros e quinhentos e sessenta e sete milésimos."
    5,678 - "Cinco inteiros e seiscentos e setenta e oito milésimos."
    999,99 - "Novecentos e noventa e nove inteiros e noventa e nove centésimos."
    0,01 - "Zero inteiros e um centésimo." ou "Um centésimo."
    1000 - "Mil inteiros."
    12,34 - "Doze inteiros e trinta e quatro centésimos."
    2,5 - "Dois inteiros e cinco décimos."

    - Padrões:

    Número em JS    Número Brasileiro    Número Americano
      1200.99           1.200,99             1,200.99
        38.78              38,78                38.78
     10000.00          10.000,00            10,000.00
  1000000.650        1.000.000,650      1,000,000.650
          0.5                  0,5                0.5
          1.2                  1,2                1.2

    *** ATENÇÃO ***
    {{  0.1 + 0.2 }}
    {{  (0.1 + 0.2) === 0.3 }}
-->

<!--
    {mínimo de Inteiros}.{mínimo de Decimais}-{máximo de Decimais}
    Ex: '0.0-4'

    Mínimo de Inteiros: Quantidade mínima de múmeros inteiros que terá antes do ponto dos decimais. Por padrão é 1.
        - Caso a quantidade de números inteiros seja MENOR que o {mínimoDeInteiros} serão adicionados zeros à esquerda.
            * A cada três números inteiros é adicionado uma vírgula ('en-US') ou ponto ('pt-BR').
            Ex:
                {{ 12.3 | number : '3.0-2' : 'en-US' }} -> 012.3
        - Caso a quantidade de números inteiros seja IGUAL ou MAIOR ao {mínimoDeInteiros} esses inteiros serão mostrados SEM o acréscimo de zeros.
            * A cada três números inteiros é adicionado uma vírgula ('en-US') ou ponto ('pt-BR').
            EX:
                {{ 1234.3 | number : '4.0-2' : 'en-US' }} -> 1,234.3
                {{ 1234.3 | number : '3.0-2' : 'en-US' }} -> 1,234.3

    Mínimo de Decimais:
        - Caso a quantidade de números decimais seja MENOR que o {mínimoDeDecimais} serão adicionados zeros à direita.
            Ex:
                {{ 12.3 | number : '0.2-3' : 'en-US' }} -> 12.30
        - Caso a quantidade de números decimais seja IGUAL ou MAIOR ao {mínimoDeDecimais} esses decimais serão mostrados SEM o acréscimo de zeros.
            Ex:
                {{ 12.322 | number : '0.3-3' : 'en-US' }} -> 12.322
                {{ 12.322 | number : '0.1-3' : 'en-US' }} -> 12.322

    Máximo de Decimais:
        - Caso a quantidade de decimais seja MENOR ou IGUAL ao {máximoDeDecimais} eles serão mostrados sem nenhuma alteração.
            Ex:
                {{ 12.32 | number : '0.0-3' : 'en-US' }} -> 12.32
                {{ 12.32 | number : '0.0-2' : 'en-US' }} -> 12.32
        - Caso a quantidade de decimais seja MAIOR que o {máximoDeDecimais} será feito um arredondamento nos decimais.
            EX:
                {{ 12.34 | number : '0.0-1' : 'en-US' }} -> 12.3
                {{ 12.35 | number : '0.0-1' : 'en-US' }} -> 12.4
                {{ 12.3677 | number : '0.0-2' : 'en-US' }} -> 12.37
                {{ 12.5 | number : '0.0-0' : 'en-US' }} -> 13

    **Atenção**
        - O {mínimoDeDecimais} não pode ser maior que o {máximoDeDecimais}.
            Ex:
                {{ 12.3 | number : '3.5-4' : 'en-US' }}
-->

{{12.3 | number : '3.0-2' : 'en-US' }} -> 012.3

<br>

{{1234.3 | number : '4.0-2' : 'en-US' }} -> 1.234.3

<br>

{{1234.3 | number : '4.0-2' : 'en-US' }} -> 1.234.3

<br>

{{ 12.3 | number : '0.2-3' : 'en-US'}} -> 12.30

<br>

{{ 12.322 | number : '0.3-3' : 'en-US'}} -> 12.322

<br>

{{ 12.322 | number : '0.1-3' : 'en-US'}} -> 12.322

<br>

{{ 12.32 | number : '0.0-3' : 'en-US'}} -> 12.32

<br>

{{ 12.34 | number : '0.0-1' : 'en-US'}} -> 12.3

<br>

{{ 12.35 | number : '0.0-1' : 'en-US'}} -> 12.4

<br>

{{ 12.3677 | number : '0.0-2' : 'en-US'}} -> 12.37

<br>

{{ 12.5 | number : '0.0-0' : 'en-US'}} -> 13

<br><br><br>

<h1>Currency Pipe</h1>

{{ 1200.99 | currency: 'BRL' }}

<br><br>

{{ 1200.99 | currency: 'BRL' : 'code' }} <br>
{{ 1200.99 | currency: 'BRL' : 'symbol' }} <br>
{{ 1200.99 | currency: 'BRL' : 'symbol-narrow' }} <br> <!--vai de país para país-->
{{ 1200.99 | currency: 'BRL' : 'Teste' }} <br>

<br><br>

{{ 1200.99 | currency: 'CAD' : 'symbol' }} <br> <!--Recomendado usar o symbol-->
{{ 1200.99 | currency: 'CAD' : 'symbol-narrow' }} <br> <!--vai de país para país-->

<br><br>

{{ 1200.99 | currency: 'BRL' : true }} <br>
{{ 1200.99 | currency: 'BRL' : false }} <br>


<br><br>

{{ 1200.99 | currency: 'BRL' : true : '1.2-2' }} ->   <br> <!-- 1 = min. inteira, 2 = min. decimal, 2 = max. decimal-->

<br><br><br>

<h1>Async Pipe - Object</h1>

<app-obs-com-objeto></app-obs-com-objeto>

<br><br>

<h1>Async Pipe - Array</h1>

<app-obs-com-array></app-obs-com-array>

<br><br>

<h1>Trabalhando com promise</h1>

<b>Conceito importante para compreender a diferença entre trabalhar com Promise ou trabalhar com Observable. Porém a única diferença é:</b> <br>
<b>Promise = vai ser resolvido e acabou</b> <br>
<b>Observable = ele é disparado e fica rodando no background (mas pode ser evitado utilizando o método de OnDestroy ou configurando as tipagem das propriedades como Observable genérico, mas detalhe no componente 'obs-com-objeto')</b> <br>

<app-com-promise></app-com-promise>

<br><br>

<h1>Pipes com Property building </h1>

<div *ngFor="let user of users; let i = index;">
  <p>Nome: {{ user.name }}</p>
  <p>Status: {{ user.status | userStates }}</p>
  <!-- <p>Status: {{ getUserStatus(user.status) }}</p> -->

  <img [src]="user.status | userStatusImage" width="100" height="100" />

  <button (click)="inactivateUser(i)">Inativar Usuário</button>

  <hr />
</div>

<button (click)="addUser()">Adicionar</button>

<br><br><br><br><br>





